{%extends "base.html" %}
{% block content %}
    <section id="home">
      <div>
        <img src="static/home-pic.jpg" alt="">
        <p>
          Turn<br>
          <span>Resume</span> into <br>
          <span>Structured Data</span><br>
          with a <span>Single Call</span>
        </p>
        <div class="btns">
          <a
            class="btn"
            style="width: 180px; color: white; padding: 10px 5px; border: 1px solid black; background-color: #5fb643;"
            >Get Your API Key</a>
          <a
            class="btn"
            style="width: 180px; padding: 10px 5px; border: 1px solid black"
            >View Api Reference</a>
        </div>
      </div>
      <div id="img_cont">
        <img
          src=""
          alt=""
          style="border: 1px solid black; border-radius: 80% 30% 60% 40%; width: 250px;"
        >
      </div>
    </section>
    <section id="sample">
        <div>
            <div style="display: flex;">
                <div class="circle" style="background: red;"></div>
                <div class="circle" style="background-color: green;"></div>
                <div class="circle" style="background-color: blue;"></div>
            </div>
            <div></div>
        </div>
        <div>
            <h3>Structured Data</h3>
            <p>Send a resume, and recieve clean, <br>structured information powered <br> by AI. Fast. Simple. Reliable. </p>
        </div>
    </section>
    <section id="pricing">
        <div>
            <h2>Pricing</h2>
            <div id="price_tag"">
                <p>Free</p>
                <p id="price">$ 0.00</p>
                <p>You can even host one yourself</p>
            </div>
            <ul class="content">
                <li>Upload resumes in PDF or DOCX</li>
                <li>Extract name, email, skills, education, experience and more</li>
                <li>AI-powered & lightweight for realtime use.</li>
                <li>Get structured JSON for easy integration</li>
            </ul>
        </div>
    </section>
    <section id="call_action">
        <h1>ResumEx</h1>
        <p>Send. Extract. Use.</p>
        <div style="margin-top: 20px;">
            <a href="" style="background-color: #5fb643; color: white;" >Get Your API Key</a>
            <a href="" >View API Reference</a>
        </div>
    </section>
{% endblock %}